{#
/**
 * @file
 * html template for orkjern_theme.
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {{ page.head }}
    <title>{{ head_title }}</title>
  </head>
  {% if is_admin %}
    {{ styles }}
    {{ scripts }}
  {% endif %}
  {% if not has_css %}
    <!-- smoosh -->
    <link rel="stylesheet" href="../../build/app.min.css">
    <!-- endsmoosh -->
  {% endif %}
  <body{{ attributes }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    {% if has_css %}
      <!-- smoosh -->
      <script type="text/javascript" src="../../build/hascache.min.js"></script>
      <!-- endsmoosh -->
    {% else %}
      <!-- smoosh -->
      <script type="text/javascript" src="../../build/nocache.min.js"></script>
      <!-- endsmoosh -->
    {% endif %}
    {% if ga_id %}

      <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ ga_id }}']);
      _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    {% endif %}

  </body>
</html>
