body {
  -webkit-font-smoothing: antialiased;
  font-family: Helvetica, Arial, sans-serif;
  color: $cloud-color;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: -0.100000001490116px;
  line-height: 1.5555555555555556em;
}
a {
  text-decoration: none;
  color: $first;
  border-bottom: 1px solid lighten($first, 20%);
}
p {
  margin: 1em 0;
}
.climacon {
  height: 310px;
}

#page-wrapper {
  max-width: 640px;
  margin: auto;
  padding: 10px;
  overflow: hidden;
}
.climacon_component-fill  {
  fill: $cloud-color;
}
.svg-wrapper {
  margin: auto;
  position: relative;
  z-index: -2;
  position: absolute;
  width: 100%;
  top: -100px;
}
#header {
  position: relative;
  height: 140px;
}
.logo-wrapper {
  text-align: center;
  .letters a,
  .letters {
    border: none;
    display: block;
    line-height: 1;
    padding-top: 15px;
    padding-right: 52px;
    margin: auto;
    z-index: 1;
    color: #fff;
    top: -10px;
    width: 90px;
    left: -26px;
  }
}
.climacon_wrapperComponent-lightning {
  animation: lightning 3s infinite;
}
@keyframes lightning {
  from {
    opacity:1;
  }
  to {
    opacity:0;
  }
}
h1 {
  font-size: 2em;
}
pre, code {
  font-family: monospace;
  background: #eee;
  overflow-x: scroll;
}
gist {
  display: none;
  &.processed {
    display: block;
  }
}
blockquote {
  width: 80%;
  margin: 20px auto;
  font-style: italic;
  color: #555;
  padding: 0.2em 30px 0.2em 65px;
  border-left: 8px solid gray;
  line-height: 1.6;
  position: relative;
  background: #EDEDED;
}

blockquote::before{
  content: "\201C";
  color: grey;
  font-size: 3em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}
