.views-field-path {
  display: none;
}

.views-field-title,
h2,
h2.node__title {
  font-size: 1.5em;
  margin-top: 1em;
  span,
  a {
    color: $cloud-color;
    border-bottom: 1px solid #fff;
    transition: border .5s;
    &:hover {
      border-bottom: 1px solid lighten($first, 20%);
    }
  }
}
ul {
  list-style-type: disc;
  list-style-position: inside;
  margin: 1em 0;
  li {
    margin-left: 1em;
  }
}
.node__meta {
  font-size: .8em;
  color: $date-color;
  padding: 1em 0;
}
.node__content {
  padding: 10px 0;
}
article {
  margin: 2em 0;
}
.views-field-view-node,
.read-more {
  display: inline-block;
  a {
    background: $first;
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
    margin: 1em 0;
    border: 0;
    color: #fff;
    transition: background .5s;
    &:hover {
      background: darken($first, 10%);
    }
  }
}
.field-type-taxonomy-term-reference {
  li {
    display: inline-block;
    margin: 0;
    a {
      padding: 5px;
      display: inline-block;
      border-radius: 3px;
      background: $second;
      margin: 2px 0;
      color: #fff;
      border: 0;
      transition: background .5s;
      &:hover {
        background: darken($second, 10%);
      }
    }
  }
}
.image {
  text-align: center;
  margin: auto;
  &:hover {
    cursor: pointer;
  }
  &.noplay {
    background: $fourth;
    border-radius: 3px;
    height: 100px;
    width: 200px;
    img {
      display: none;
    }
    h2 {
      display: block;
      margin: .6em 0;
      color: $first;
      padding: 5px 10px;
      border-radius: 3px;
      background: #fff;
      display: inline-block;
    }
  }
  &.hide {
    display: none;
  }
  h2 {
    display: none;
  }
}

.comment-count {
  display: inline-block;
  a {
    position: relative;
    display: block;
    background-color: $third;
    margin: 0;
    padding: 5px 0;
    text-align:center;
    width: 110px;
    margin-left: 15px;
    border: 0;
    &:after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent $third transparent transparent;
      border-style: solid;
      border-width: 10px;
      height:0;
      width:0;
      position:absolute;
      bottom: 9px;
      left: -19px;
    }
    &:empty {
      display: none;
    }
  }
}
